* {
	border: none;
	border-radius: 0px;
	font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
}

window#waybar {
	background-color: #FFFFFF;
	border-radius: 0px;
	margin-top: 0px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px;
	transition: none;
	color: transparent;
	background: transparent;
}

#workspaces {
	background: #FFFFFF;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #583794;
	background: transparent;
}

#workspaces button:hover {
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

#workspaces button.persistent {
	font-size: 12px;
	color: #01011c;
	background: transparent;
}

#workspaces button.focused {
	font-size: 12px;
	color: #e0af68;
	background: transparent;
}

#custom-updates,
#custom-launcher,
#tray,
#clock,
#wireplumber,
#network,
#battery,
#bluetooth {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	font-weight:bold;
	transition: none;
	color: #000000;
	background: #FFFFFF;
}

#custom-launcher {
	color: #210AF0;
}

#battery.charging,
#battery.plugged {
	color: #000000;
	background-color: transparent;
}

#battery.critical:not(.charging) {
	color: #000000;
	background-color: #FFFFFF;
}

