configuration {
	font: "Roboto 13";
	show-icons: true;
	icon-theme: "Papirus";
	hover-select: false;
	auto-select: false;
	timeout {
      		delay:  15;
      		action: "kb-cancel";
	}
 }

@theme "~/.config/rofi/themes/default.rasi"

