[core]
	editor = nvim
	excludesfile = ~/.gitignore
	autocrlf = input
	compression = 0
	filemode = false
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
	line-numbers = true
	side-by-side = true
[ssh]
	postBuffer = 1048576000
[http]
	postBuffer = 500M
	maxRequestBuffer = 100M
[user]
	email = jordimarimon7@gmail.com
	name = Jordi Marimon
[alias]
	alias="! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | grep -v ^'alias ' | sort"
	a="add"
	afz="!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
	aa="add -A"
	b="branch"
	bd="!f() { git branch -d \"$1\" && git push --delete origin \"$1\"; }; f"
	c="commit"
	ca="commit --amend"
	ce="commit --amend --no-edit"
	co="checkout"
	cl="config --list"
	users="shortlog --summary --numbered --email"
	d="diff"
	ds="diff --staged"
	dt="diff-tree --no-commit-id --name-only -r"
	dlog="-c diff.external=difft log --ext-diff"
	dshow="-c diff.external=difft show --ext-diff"
	ddiff="-c diff.external=difft diff"
	fp="fetch --prune"
	l="!. ~/Scripts/githelpers.sh && pretty_git_log"
	la="log --all --format=fuller"
	m="merge --no-ff"
	mf="merge"
	pu="push"
	pl="pull"
	ruf="!. ~/Scripts/githelpers.sh && remove_untracked_files"
	rs="restore ."
	rb="rebase"
	rss="restore --staged ."
	st="status"
	sh="show"
	sl="stash list"
	sd="stash drop"
	spu="stash push"
	spo="stash pop"
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
